.header {
  $b: &;

  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6;

  @include rule(padding-top, (xl: 80, lg: 80, md: 68, sm: 34));
  @include rule(padding-left, (xl: 150, lg: 70, md: 49, sm: 20));
  @include rule(padding-right, (xl: 150, lg: 70, md: 49, sm: 20));

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    @include rule(width, (xl: 37, lg: 37, md: 37, sm: 32));
    @include rule(height, (xl: 44, lg: 44, md: 44, sm: 39));

    font-size: 0;
    line-height: 0;
    transition: transform $ease-main;
    transform-origin: 50% 100%;

    .is-header-stuck & {
      transform: scale(1.2);

      @include screen('sm') {
        transform: scale(1.1);
      }
    }
  }

  &__text {
    @include rule(width, (xl: 204, lg: 204, md: 204, sm: 178));
    @include rule(height, (xl: 35, lg: 35, md: 35, sm: 31));
    @include rule(margin-top, (xl: 5, lg: 5, md: 5, sm: 4));

    font-size: 0;
    line-height: 0;
    transition: opacity $ease-main, transform $ease-main;

    &:not(:first-child) {
      @include rule(margin-left, (xl: 15, lg: 15, md: 15, sm: 13));
    }

    .is-header-stuck & {
      opacity: 0;
      transform: translate3d(10%, 0, 0);
    }
  }
}
