.sitemap {
  display: block;
  box-sizing: border-box;

  @include rule(padding-top, (xl: 242, lg: 195, md: 174, sm: 136));
  @include rule(padding-bottom, (xl: 242, lg: 195, md: 174, sm: 136));

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__link {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: .345em;

    @include rule(font-size, (xl: 11, lg: 8, md: 8, sm: 12));

    &::after {
      content: '(' attr(href) ')';
      opacity: .5;
      display: inline-block;

      @include rule(margin-left, (xl: 10, lg: 10, md: 10, sm: 10));
      @include rule(font-size, (xl: 9, lg: 7, md: 7, sm: 9));
    }

    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}
