extends ../../layouts/default

block head
  - var pageTitle = 'Карта верстки'

block content
  +b.sitemap
    .container
      +link.__link(href="index.html") Main
      +link.__link(href="cookies.html") Cookie policy
      +link.__link(href="privacy.html") Privacy policy
