@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/variables'; // Переменные
@import 'helpers/fonts'; // Шрифты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.page {
  display: block;
  width: 100%;
}

.container {
  width: param(container, width);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @include rule(padding-left, (xl: 290, lg: 176, md: 126, sm: 55));
  @include rule(padding-right, (xl: 290, lg: 176, md: 126, sm: 20));
}

.js-sr {
  visibility: hidden;
}

.malachite-mask {
  transform-origin: 50% 50%;
  transition: transform .5s cubic-bezier(.6, .2, .1, 1);

  .js-sr & {
    transform: scale(0);
  }

  .is-animate & {
    transform: scale(1);
  }
}

@each $key, $val in $breakpoints {

  .hide-#{$key} {
    @include screen(#{$key}) {
      display: none;
    }
  }

  .show-#{$key} {
    @include screen(#{$key}, min) {
      display: none;
    }
  }
}
