mixin link()
  +b.A.link&attributes(attributes)
    block

mixin ui-kit-link()
  +ui-section
    +ui-section-head
      +ui-title Блок link
      +ui-path
        p Блок: blocks/link/link
      +ui-description
        p Описание Блока

    +ui-section-content()
      +link

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
