.section {
  $b: &;

  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &__header {
    display: block;

    hr {
      display: block;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: color(main);
      border: none;

      @include rule(width, (xl: 237, lg: 168, md: 127, sm: 127));
      @include rule(height, (xl: 2, lg: 2, md: 2, sm: 2));

      &:not(:first-child) {
        @include rule(margin-top, (xl: 53, lg: 41, md: 43, sm: 43));
      }
    }
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: .345em;
    text-transform: uppercase;

    @include rule(font-size, (xl: 13, lg: 10, md: 10, sm: 10));
  }

  &__title {
    font-family: $font-second;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.1;

    @include rule(font-size, (xl: 50, lg: 35, md: 35, sm: 35));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 77, lg: 53, md: 43, sm: 43));
    }

    &_big {
      @include rule(font-size, (xl: 90, lg: 65, md: 60, sm: 50));

      line-height: .95;

      &:not(:first-child) {
        @include rule(margin-top, (xl: 66, lg: 47, md: 50, sm: 51));
      }
    }

    &_fz35 {
      @include rule(font-size, (xl: 35, lg: 25, md: 23, sm: 20));

      &:not(:first-child) {
        margin-top: 3.33em;
      }
    }
  }

  &__mail {
    font-weight: 300;
    font-family: $font-main;
    line-height: 1.3;

    @include rule(font-size, (sm: 24));
  }

  &__content {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -.01em;

    @include rule(font-size, (xl: 30, lg: 22, md: 20, sm: 18));

    &:not(:first-child) {
      @include rule(margin-top, (xl: 123, lg: 86, md: 77, sm: 41));
    }

    &_small {
      font-weight: 400;
      line-height: 1.6;

      @include rule(font-size, (xl: 17, lg: 12, md: 12, sm: 15));

      &:not(:first-child) {
        @include rule(margin-top, (xl: 40, lg: 30, md: 12, sm: 25));
      }
    }

    b {
      font-weight: 500;
    }

    a {
      display: inline-block;
      text-decoration: none;
      background-position: 0 200%;
      background-repeat: repeat-x;
      background-size: 50% 50%;
      background-color: transparent;
      background-image: linear-gradient(color(border), color(border));
      transition: background $ease-main;
      cursor: pointer;

      &:hover {
        background-position: 0 100%;
      }
    }

    &_fz23 {
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: -.01em;

      @include rule(font-size, (xl: 23, lg: 17, md: 15, sm: 13));

      p {

        &:not(:first-child) {
          margin-top: 1.5em;
        }
      }
    }

    &_fz20 {
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: -.01em;

      @include rule(font-size, (xl: 20, lg: 17, md: 15, sm: 13));

      p {

        &:not(:first-child) {
          margin-top: 1.3em;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    &-figure {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: block;
      background-color: color(dark);

      @include rule(width, (xl: 1770, lg: 1296, md: 974, sm: 355));
      @include rule(border-bottom-left-radius, (xl: 90, lg: 90, md: 90, sm: 90));
      @include rule(border-top-left-radius, (xl: 90, lg: 90, md: 90, sm: 90));

      &::before, &::after {
        @include pseudo;

        left: 0;
        width: 100%;
        background-color: color(dark);
      }

      &::before {
        transform-origin: 100% 0;
        transform: skewY(-12.8deg);

        @include rule(top, (xl: -455, lg: -330, md: -296, sm: -170));
        @include rule(border-top-left-radius, (xl: 90, lg: 90, md: 90, sm: 90));
        @include rule(height, (xl: 455, lg: 330, md: 295, sm: 168));
      }

      &::after {
        transform-origin: 100% 100%;
        transform: skewY(17.5deg);

        @include rule(bottom, (xl: -583, lg: -410, md: -310, sm: -115));
        @include rule(border-bottom-left-radius, (xl: 90, lg: 90, md: 90, sm: 90));
        @include rule(height, (xl: 583, lg: 410, md: 310, sm: 115));
      }
    }

    &-malachite {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      overflow: hidden;
      opacity: .4;

      @include rule(top, (xl: -498, lg: -354, md: -354, sm: -222));

      &::after {
        @include pseudo;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, color(main) 0%, rgba(35, 93, 73, 0) 50%, color(main) 100%);
        background-size: contain;
      }
    }

    &-image {
      display: block;
      width: 100%;

      img {
        font-size: 0;
        line-height: 0;
        width: 100%;
      }
    }
  }

  &__media {
    position: relative;
    overflow: hidden;
    user-select: none;

    @include rule(height, (xl: 330, lg: 235, md: 175, sm: 295));
    @include rule(border-radius, (xl: 10, lg: 10, md: 10, sm: 10));
    @include rule(margin-top, (sm: 59));
  }

  &__copyright {
    position: absolute;
    display: inline-block;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -.01em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    z-index: 2;

    @include rule(top, (xl: 8, lg: 7, md: 9, sm: 0));
    @include rule(left, (xl: 16, lg: 12, md: 13, sm: 0));
    @include rule(font-size, (xl: 12, lg: 9, md: 7, sm: 0));

    @include screen('sm') {
      display: none;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;

    img {
      @include fill-img;
    }
  }

  &__illus {
    position: relative;

    @include rule(margin-top, (sm: 48));
  }

  &__stone {
    position: absolute;
    left: 0;

    @include rule(top, (xl: -145, lg: -103, md: -77, sm: 0));
    @include rule(width, (xl: 1107, lg: 785, md: 590, sm: 446));
    @include rule(height, (xl: 941, lg: 668, md: 502, sm: 380));
    @include rule(margin-left, (sm: -35));
    @include rule(margin-right, (sm: -111));

    @include screen('sm') {
      position: relative;
    }
  }

  &__text-zone {

    &:not(:first-child) {
      margin-top: 3.8em;
    }
  }

  &_about {
    overflow: hidden;
    width: 100%;
    z-index: 2;

    @include rule(padding-top, (xl: 242, lg: 195, md: 174, sm: 136));
    @include rule(padding-bottom, (xl: 644, lg: 454, md: 345, sm: 241));

    .container {
      @include display-grid;
      @include grid-template-columns(pxtovw(665, 1920) pxtovw(83, 1920) 1fr);
      @include grid-template-rows(auto auto);

      @include screen('lg') {
        @include grid-template-columns(pxtovw(501, 1366) pxtovw(59, 1366) 1fr);
        @include grid-template-rows(auto auto);
      }

      @include screen('md') {
        @include grid-template-columns(pxtovw(428, 1024) pxtovw(120, 1024) 1fr);
        @include grid-template-rows(auto auto);
      }

      @include screen('sm') {
        @include grid-template-columns(100%);
        @include grid-template-rows(auto auto auto);
      }
    }

    #{$b} {

      &__header {
        @include grid-column(1, 2);
        @include grid-row(1, 2);
      }

      &__illus {
        @include grid-column(2, 4);
        @include grid-row(1, 3);

        @include screen('sm') {
          @include grid-column(1, 2);
          @include grid-row(2, 3);
        }
      }

      &__content {
        @include grid-column(1, 3);
        @include grid-row(2, 3);

        @include screen('sm') {
          @include grid-column(1, 2);
          @include grid-row(3, 4);
        }
      }
    }
  }

  &_service {
    z-index: 1;
  }

  &_charter {
    @include rule(padding-bottom, (xl: 218, lg: 151, md: 111, sm: 105));

    .container {
      @include display-grid;
      @include grid-template-columns(1fr pxtovw(930, 1920));
      @include grid-template-rows(auto auto);

      @include screen('lg') {
        @include grid-template-columns(1fr pxtovw(660, 1366));
        @include grid-template-rows(auto auto);
      }

      @include screen('md') {
        @include grid-template-columns(1fr pxtovw(495, 1024));
        @include grid-template-rows(auto auto);
      }

      @include screen('sm') {
        @include grid-template-columns(100%);
        @include grid-template-rows(auto auto auto);
      }

      @include rule(column-gap, (xl: 107, lg: 146, md: 65, sm: 0));
      @include rule(row-gap, (xl: 77, lg: 54, md: 56, sm: 0));
    }

    #{$b} {

      &__header {
        @include grid-column(1, 2);
        @include grid-row(1, 2);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        @include screen('sm') {
          justify-content: flex-start;
        }
      }

      &__content {
        @include grid-column(1, 3);
        @include grid-row(2, 3);
        @include rule(max-width, (xl: 1204, lg: 884, md: 666));

        @include screen('sm') {
          @include grid-column(1, 2);
          @include grid-row(2, 3);
          @include rule(padding-right, (xl: 0, sm: 15));

          line-height: 1.4;
          box-sizing: border-box;
          max-width: none;
        }

        &:not(:first-child) {
          @include rule(margin-top, (xl: 0, sm: 56));
        }
      }

      &__media {
        @include grid-column(2, 3);
        @include grid-row(1, 2);

        @include screen('sm') {
          @include grid-column(1, 2);
          @include grid-row(3, 4);
        }
      }
    }
  }

  &_aircraft {
    @include rule(padding-bottom, (xl: 77, lg: 70, md: 84, sm: 126));

    .container {
      @include display-grid;
      @include grid-template-columns(pxtovw(930, 1920) 1fr);
      @include grid-template-rows(auto auto);

      @include screen('lg') {
        @include grid-template-columns(pxtovw(660, 1366) 1fr);
        @include grid-template-rows(auto auto);
      }

      @include screen('md') {
        @include grid-template-columns(pxtovw(495, 1024) 1fr);
        @include grid-template-rows(auto auto);
      }

      @include screen('sm') {
        @include grid-template-columns(100%);
        @include grid-template-rows(auto auto auto);
      }

      @include rule(column-gap, (xl: 107, lg: 146, md: 65, sm: 0));
      @include rule(row-gap, (xl: 112, lg: 80, md: 58, sm: 0));
    }

    #{$b} {

      &__header {
        @include grid-column(2, 3);
        @include grid-row(1, 2);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        @include screen('sm') {
          @include grid-column(1, 2);

          justify-content: flex-start;
        }
      }

      &__title {

        &:not(:first-child) {
          @include rule(margin-top, (xl: 75, lg: 53, md: 44, sm: 43));
        }
      }

      &__content {
        @include grid-column(1, 3);
        @include grid-row(2, 3);
        @include rule(max-width, (xl: 1064, lg: 755, md: 572));

        @include screen('sm') {
          @include grid-column(1, 2);
          @include grid-row(2, 3);
          @include rule(padding-right, (xl: 0, sm: 15));

          line-height: 1.4;
          box-sizing: border-box;
          max-width: none;
        }

        &:not(:first-child) {
          @include rule(margin-top, (xl: 0, sm: 56));
        }
      }

      &__media {
        @include grid-column(1, 2);
        @include grid-row(1, 2);

        @include screen('sm') {
          @include grid-column(1, 2);
          @include grid-row(3, 4);
        }
      }
    }
  }

  &_contacts {
    z-index: 2;
    box-sizing: border-box;

    @include rule(padding-top, (xl: 464, lg: 313, md: 257, sm: 173));
    @include rule(padding-bottom, (xl: 332, lg: 238, md: 224, sm: 118));

    #{$b} {

      &__title {

        &:not(:first-child) {
          @include rule(margin-top, (xl: 111, lg: 77, md: 54, sm: 49));
        }
      }

      &__content {
        box-sizing: border-box;

        @include rule(padding-right, (sm: 35));
      }
    }
  }

  &_policy {
    @include rule(padding-top, (xl: 242, lg: 195, md: 174, sm: 136));
    @include rule(padding-bottom, (xl: 200, lg: 200, md: 200, sm: 100));

    #{$b} {

      &__content {
        @include rule(padding-right, (sm: 35));

        &:not(:first-child) {
          margin-top: 2em;
        }
      }
    }

    &_cookie {

      #{$b} {

        &__content {

          &:not(:first-child) {
            margin-top: 5.3em;
          }
        }

        &__text-zone {

          &:not(:first-child) {
            margin-top: 3.6em;
          }
        }
      }
    }
  }
}
