@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox {

  &-slide {
    padding: 0;
  }

  &-container {
    z-index: 7;
  }

  &-bg {
    background: rgba(color(main), .8);
    transition-timing-function: ease-out;
    transition-duration: .3s;

    .fancybox-is-open & {
      opacity: 1;
    }
  }
}

.popup {
  display: block;

  $b: &;
}
