/* ..................................
Базовые настройки сетки сайта
.................................. */

$params: (
  container: (
    width: 100%, // Максимальная ширина контейнера контента
    padding: 20px, // Отступы по бокам контейнера (включены в ширину контейнера)
  ), grid: (
      width: 100%, // Ширина контейнера сетки
      cols: 12, // Количество колонок в сетке
      gap: 30px, // Расстояние между колонками
     gap-vertical: 30px, // Расстояние между строками в сетке
  ));

$breakpoints: (
  xl: 1920px,
  lg: 1640px,
  md: 1200px,
  sm: 768px,
  xs: 480px
);

$breaksizes: (
  xl: 1920,
  lg: 1366,
  md: 1024,
  sm: 375,
  xs: 375
);

/* ..................................
Цвета
Пример: background-color: color(main);
.................................. */

$colors: (
  basic: #fff, // Основной цвет текста (применяется к body)
  main: #235d49, // Основной фирменный цвет
  border: #318065,
  dark: #11201b,
);

/* ..................................
Градиенты
Пример: background: gradient(main);
.................................. */

$gradients: (
  bg: linear-gradient(180deg, #235d49 0%, rgba(35, 93, 73, 0) 100%),
);

/* ..................................
Транзишны
.................................. */

$ease-main: .2s ease;

/* ..................................
Шрифты
.................................. */

$font-main: GothamPro, Arial, sans-serif; // Основной шрифт сайта
$font-second: RozhaOne, GothamPro, Arial, sans-serif; // Дополнительный шрифт

/* ..................................
Цвета для UI-кита (удалить, если он отсутствует)
.................................. */

$ui-kit-color-basic: #2c2c2c; // Базовый темный цвет
$ui-kit-bg: white; // Фон кита
$ui-kit-color-text: $ui-kit-color-basic; // Цвет текста
$ui-kit-color-gray: #eaeaea; // Цвет границ
$ui-kit-color-darkbg: $ui-kit-color-basic; // Фон темной секции
