.sticky-navigation {
  $b: &;

  position: fixed;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 8;

  @include rule(left, (xl: 126, lg: 85, md: 53, sm: 0));
  @include rule(bottom, (xl: 140, lg: 140, md: 100, sm: 60));
  @include rule(padding-left, (xl: 20, lg: 20, md: 20, sm: 20));
  @include rule(padding-right, (xl: 20, lg: 20, md: 20, sm: 20));

  &__item {
    display: block;
    box-sizing: border-box;
    transition: transform $ease-main, background $ease-main;
    background-color: color(border);
    border-color: color(main);
    border-style: solid;
    transform-origin: 50% 50%;

    @include rule(border-width, (xl: 2, lg: 2, md: 2, sm: 2));
    @include rule(border-radius, (xl: 4, lg: 4, md: 4, sm: 4));
    @include rule(width, (xl: 5.5, lg: 5, md: 4.8, sm: 4.8));
    @include rule(height, (xl: 20, lg: 15, md: 12, sm: 12));

    &.is-active {
      background-color: #fff;
      transform: rotate(90deg);
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 5, lg: 2, md: 0, sm: 0));
    }
  }
}
