mixin sticky-navigation()
  +b.sticky-navigation&attributes(attributes)
    +e.item(data-nav-link="about")
    +e.item(data-nav-link="services")
    +e.item(data-nav-link="contacts")
    block

mixin ui-kit-sticky-navigation()
  +ui-section
    +ui-section-head
      +ui-title Компонент sticky-navigation
      +ui-path
        p Компонент: components/sticky-navigation/sticky-navigation
      +ui-description
        p Описание компонента

    +ui-section-content()
      +sticky-navigation

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
